<h2>Forgot Your Password?</h2>
<p>
  Enter your email address and we will send you
  a link to reset your password.
</p>

<%= form_with(url: password_resets_path) do |form| %>
  
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>

  <%= form.submit "Send password reset email" %>
<% end %>