<h1>My Workspaces</h1>

<% if @workspaces.any? %>
  <ul>
    <% @workspaces.each do |workspace| %>
      <li>
        <%= link_to workspace.name, workspace_path(workspace) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You are not a member of any workspaces.</p>
<% end %>