<h1>My Workspaces</h1>
<button>
  <%= link_to "Create New Workspace", new_workspace_path, class: "button" %>
</button>

<% if @workspaces.any? %>

  <% @workspaces.each do |workspace| %>
    <button>
      <%= link_to workspace.name, workspace_path(workspace) %>
    </button>
  <% end %>

<% else %>
  <p>You are not a member of any workspaces.</p>
<% end %>